* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
	background: #355664;
	width: 960px;
	font-family: Arial;
	color: #fcfcfc;
	margin: auto;
}
h1{
	font-family: forte;
	padding: 10px 0 0;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
}
h3{
	font-family: forte;
	text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}
nav {
    padding: 0 5px;
}
li{
	display: inline-block;
	font-size: 30px;
	margin: 5px 2px;
	padding: 7px 10px 4px;
}
li a{
	color: #8EC45B;
}
li:first-child a{
	color: #7CB3E9;
	text-transform: lowercase;
}
li:last-child a{
	color: #ffffff;
	text-transform: uppercase;
}

article{
	height: 390px;
	background: #213E4A;
	margin: 0px 0px 10px ;
	padding: 20px;
	border-radius:11px/11px;

}
 h2{
 	text-transform: uppercase;
	font-family: forte;
	font-size: 40px;
	letter-spacing: 15px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-color:#416371;
}

.article-content{
	margin: 15px;
}
figure{
	border: 3px;
	border-style: solid;
	border-color:#142830;
	height: 269px;
	width: 486px;
	margin-left: 15px;
	border-radius:10px/10px;
	float: right;
}
figure img{
	width: 480px;
	height: 280x;
    border-radius:7px/7px;
    margin-left: 15px;
    float: right;
}
p{
	padding-bottom: 5px;
	color: #94c258;
	line-height: 20px
}
p+p {
	padding-bottom: 5px;
	color: #FFFFFF;
	line-height: 20px;
}
footer{
	border-top: 3px;
	border-top-color: #142830;
	border-top-style: solid;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 20px;
	font-size: 20px;
}