/* mobile */
@media (max-width: 46.1875em) {
    #header {
        overflow: hidden;
    }
    #header .search-header {
          display: none;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 12px 42px;
    }
    #content .content-section {
        padding: 64px 16px;
    }
    #content .member-item {
        width: 100%;
        margin-bottom: 20px;
    }
    #content .member-img {
        width: 60%;
    }
    .places-list .place-item {
        width: 100%;
        margin-bottom: 16px;
    }
    .place-item .place-buy-btn {
        width: 100%;
    }
    /* contact */
    .contact-info, .contact-fill-information {
        width: 100%;
    }
    .contact-fill-information {
        margin-top: 16px;
    }
    .contact-info{
        line-height: 2;
    }
    .form-control .form-name,
    .form-control .form-email,
    .form-submit {
        width: 100%;
    }
    .form-submit {
        appearance: none;
        -webkit-animation: none;
    }
    .form-control .form-email {
        margin-top: 8px;
    }
    #footer .socials-list a {
        font-size: 35px;
        margin: 0 8px;
    }
}

/* tablet */ 
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #content .content-section {
        padding: 64px 16px;
    }
    #footer .socials-list a {
        font-size: 48px;
        margin: 0 8px;
    }
    #footer .copyright {
        font-size: 20px;
    }
    .contact-info{
        margin: 20px 0;
        line-height: 2;
    }
    .form-control .form-name,
    .form-control .form-email {
        width: 100%;
    }
    .form-control .form-email{
        margin-top: 8px;
    }
}