*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: Roboto, sans-serif;
	background: #e2d7aa;
	color: #000000;
	font-size: 16px;
	width: 1180px;
	margin-right: auto;
    margin-left: auto;
	text-align: center;
}
nav li{
	font-size: 28px;
	display: inline-block;
	padding: 10px 10px 0px 10px;
	margin-top: 10px;
}
nav li a{
    text-decoration: none;
    color: #000000;
}
nav li:first-child a{
	color: #0a2d4a;
	font-weight: bold;
}
nav li:last-child a{
	color: #0a2d4a;
	font-weight: bold;
}
h1{
	font-size: 60px;
	margin-top: 40px;
	margin-bottom: 65px;
	font-family: Indie Flower, cursive;
}
.img-container img{
	width: 1140px;
	height: 450px;
}
article {
	padding: 25px;
	float: left;
	width: 33.333%;
}
article h3 a {
	text-decoration: none;
}
article img {
	width: 350px;
	height: 200px;
	margin-bottom: 20px;
	display: block;
}
article p{
	text-align: justify;
	width: 350px;
	padding-top: 10px;
	word-spacing: 2px;
	line-height: 25px;
}
article p::first-letter{
	font-family: EucrosiaUPC;
	font-size: 40px;
}
article .comments a{
	background-image: url(images/bg2.jpg);
	color: #ffffff;
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
article .readmore a{
	background: url(images/bg2.jpg);
	color: #ffffff;
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
article p:last-of-type span:first-of-type a::before {
	content: url(./images/comment.png);
	position: relative;
	right: 5px;
	top: 7px;
	padding: 10px;
}

footer{
	padding: 10px 0;
	display: inline-block;
}